/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 * {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
}
  
 .user__info {
 list-style-type: none;
 padding: 0;
}
a {
  text-decoration: none;
}

.user_nav grid-6 {
  float: left;
}


footer {
  background: rgba(255,255,255,.6);
  height: 100%;
}
.notice {
  color: #d9f0f7;
}

.total {
  font-size: 23px;
  font-weight: bold;
  width: 18%;
  text-align: center;
  padding-top: 13px;
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}

h2 {
  background:linear-gradient(transparent 70%, #FFFF00 0%);
  width: 8%;
  margin-bottom:30px ;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bold;
}

.client {
  padding: 10px 0;
}

.time {
  padding: 10px 0;
}
.content {
  padding: 10px 0;
}

.logo {
 font-size: 30px;
 font-weight: bold;
}

a {
  color: black;
  font-weight: bold;
}

.sales-right {
  margin: 10px 0;
}

/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px; }

.site-header {
  position: relative;
  background-color: #def7ff; }

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  display: block;
  padding: 1.5rem 1rem; }

.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }