/* body {
  background-image: url("smuk.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

#registration {
  background-image: url("smuk.png");
  background-repeat: no-repeat;
  background-size: cover;
}